.home {
  background: linear-gradient(to right, var(--main-color), var(--secondary-color), var(--last-gradient-color));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  text-align: center;
}

.title, .subtitle {
  font-weight: normal;
  margin: 0;
}

.title {
  font-size: 2rem;
}

.nameInput {
  margin-top: 2rem;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  width: 50%;
  font-size: 1.2rem;
  box-shadow: 0 4px 2px var(--main-color);
  color: var(--main-color);
  background-color: var(--card-input-bg-color);
}

.nameInput:focus {
  background-color: white;
}
