.coolButton {
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 2px var(--main-color);
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.coolButton:hover:not(:disabled),
.coolButton:active:not(:disabled) {
  color: var(--secondary-color);
  background-color: white;
}

.coolButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttonNormal {
  margin: 0.5rem;
}

.buttonCenteredInRow {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
}